/* src/App.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.QuillEditor {
  margin-bottom: 20px;
}

.Viewer {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 100px;
}
.ql-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}